<header class="border-bottom">
  <div class="container-fluid pt-2 pb-2 ">
    <nav class="navbar navbar-expand-lg navbar-light ">
      <div class="container-fluid"> <a class="navbar-brand" href="index.html"><svg xmlns="http://www.w3.org/2000/svg" width="123" height="50" viewBox="0 0 123 50" fill="none">
        <path d="M67.2609 11.9392C71.6671 11.9392 75.898 11.9392 80.2324 11.9392C80.2882 12.3217 80.3918 12.6882 80.3918 13.0547C80.3997 20.2018 80.4954 27.3488 80.3679 34.4959C80.2165 42.8381 74.0335 49.2203 65.6674 49.9454C58.0343 50.6067 50.9032 45.1966 49.214 37.4041C48.967 36.2807 48.8794 35.1094 48.8714 33.9541C48.8395 27.0939 48.8554 20.2416 48.8554 13.3814C48.8554 12.9113 48.9112 12.4412 48.9431 11.9233C53.3014 11.9233 57.5403 11.9233 62.0261 11.9233C62.0261 12.497 62.0261 13.0547 62.0261 13.6045C62.0261 20.7994 62.0341 27.9942 62.0182 35.1891C62.0182 36.3444 62.3369 37.428 63.4364 37.8025C64.2093 38.0655 65.4443 38.1212 65.9622 37.675C66.6554 37.0854 67.1972 35.9221 67.2131 34.9899C67.3087 27.8906 67.2689 20.7914 67.2689 13.6921C67.2609 13.1663 67.2609 12.6404 67.2609 11.9392Z" fill="#1D3038"/>
        <path d="M22.8886 0.00354122C22.8886 3.98741 22.8886 7.78803 22.8886 11.7958C21.9165 11.7958 20.9683 11.7639 20.0202 11.8038C16.2036 11.9392 13.136 15.1423 13.2715 19.0066C16.2275 19.0066 19.1915 19.0066 22.2511 19.0066C22.2511 22.8232 22.2511 26.4724 22.2511 30.273C19.2951 30.273 16.3231 30.273 13.1759 30.273C13.1759 36.6233 13.1759 42.8222 13.1759 49.1406C8.72988 49.1406 4.46714 49.1406 0.00520387 49.1406C0.00520387 48.6068 0.00520387 48.0968 0.00520387 47.5789C0.00520387 38.3603 -0.0107324 29.1416 0.0131709 19.9309C0.0370741 8.784 8.79363 0.0513477 19.9724 0.00354122C20.8807 -0.00442652 21.797 0.00354122 22.8886 0.00354122Z" fill="#1D3038"/>
        <path d="M46.1862 49.1805C39.3101 49.1805 32.5295 49.1805 25.6534 49.1805C25.6534 36.7667 25.6534 24.4406 25.6534 11.987C29.8842 11.987 34.147 11.987 38.6328 11.987C38.6328 20.385 38.6328 28.783 38.6328 37.2926C41.2622 37.2926 43.6605 37.2926 46.1783 37.2926C46.1862 41.2765 46.1862 45.1488 46.1862 49.1805Z" fill="#1D3038"/>
        <path d="M83.4753 49.1566C84.3836 47.1646 85.1884 45.3798 86.009 43.5951C87.8416 39.6112 91.937 30.528 91.937 30.528C91.937 30.528 86.6465 18.9827 84.2322 13.724C84.0012 13.2141 83.794 12.6882 83.4753 11.9153C84.8537 11.9153 86.0409 11.9153 87.2201 11.9153C90.216 11.9153 97.4587 11.8914 97.4587 11.8914L105.968 30.5758L97.4427 49.1008C97.4427 49.1167 88.1045 49.1566 83.4753 49.1566Z" fill="#FD4725"/>
        <path d="M122.254 11.8516L118.095 21.0464C118.095 21.0464 108.614 21.0703 103.952 21.0703C104.725 19.3652 108.183 11.9074 108.183 11.9074L122.254 11.8516Z" fill="#1D3038"/>
        <path d="M103.952 40.0733L108.112 49.2681C108.112 49.2681 117.593 49.292 122.254 49.292C121.481 47.5869 118.023 40.1291 118.023 40.1291L103.952 40.0733Z" fill="#1D3038"/>
        </svg></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto ms-auto my-2 my-lg-0 navbar-nav-scroll f-l-nav col-black" style="--bs-scroll-height: 100px;">
            <li class="nav-item"> <a class="nav-link " aria-current="page" href="#">How it works</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Savings Calculator </a> </li>
            <li class="nav-item"> <a class="nav-link " aria-current="page" href="#">About us</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Blog</a> </li>
          </ul>
          <form class="d-flex">
           
            <% if user_signed_in? %>
  
  
            <%= link_to "Customer Log Out", destroy_user_session_path, method: :delete, class:"btn btn-outline-secondary f-l-button-bold sh-filter-button me-3" %>
          <% else %>
           
            <%= link_to "Customer Log In ", new_user_session_path, class:"btn btn-outline-secondary f-l-button-bold sh-filter-button me-3"%>
          <% end %></a> 
            <a href="index.html" role="button" class="btn btn-primary  sh-filter-button f-l-button-bold">Browse Cars</a>
          </form>
        </div>
      </div>
    </nav>
  </div>
</header>